**/.vs
**/bin
**/obj
**/node_modules
**/dist
.env
.env.production
*.user
.DS_Store

*.keystore
*.jks
mobile/publish-apk/
mobile/publish-apk-*/
mobile/publish-apk-log.txt
tools/__pycache__/
preprocessed.xml
